/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* PAGE BACKGROUND */
body {
    height: 100vh;
    background: linear-gradient(135deg, #020617, #020617);
}

/* CENTER WRAPPER */
.auth-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
}

/* LOGIN CARD */
.auth-card {
    width: 380px;
    background: rgba(255,255,255,0.06);
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.45);
    backdrop-filter: blur(12px);
}

/* TITLE */
.subtitle {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
}

/* ERROR BOX */
.error-box {
    background: rgba(239, 68, 68, 0.15);
    color: #fecaca;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

/* FORM GROUP */
.form-group {
    margin-bottom: 16px;
}

/* LABEL */
.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #cbd5f5;
}

/* INPUT */
.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.12);
    color: #ffffff;
    font-size: 14px;
}

.form-group input::placeholder {
    color: #94a3b8;
}

/* PASSWORD BOX */
.password-box {
    position: relative;
}

.toggle-pass {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #cbd5f5;
}

/* ERROR TEXT */
.error-text {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: #fca5a5;
}

/* ERROR INPUT */
.error-input {
    border: 1px solid #ef4444;
}

/* BUTTON */
.btn-primary {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary:hover {
    background: #1d4ed8;
}
