body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
    background:
        linear-gradient(
            rgba(2, 6, 23, 0.7),
            rgba(2, 6, 23, 0.7)
        ),
        url("/mb.jpg") no-repeat center center / cover;

    font-family: system-ui, -apple-system, sans-serif;
}

.card {
    width: 380px;
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 25px 55px rgba(0,0,0,0.45);
    animation: fadeUp 0.6s ease;
}

h2 {
    text-align: center;
    margin-bottom: 22px;
    color: #020617;
    font-weight: 700;
}


label {
    display: block;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 6px;
    color: #0f172a;
}

input {
    width: 100%;
    padding: 11px;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 2px rgba(37,99,235,0.25);
}


button {
    width: 100%;
    margin-top: 22px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 35px rgba(2,6,23,0.6);
}


.error {
    color: #dc2626;
    text-align: center;
    margin-bottom: 12px;
    font-size: 14px;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(18px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
